@import "src/style/Variables";

.terminal {
  background: $terminalBackground;
  width: 50vw;
  height: 50vh;
  padding: 30px;
  font-family: "Source Code Pro", monospace;
  color: $textColor;
}

.history {
  width: 50vw;
  height: 50vh;
  overflow: scroll;


  .lineUser {
    &::before {
      content: '> ';
    }
  }

  .lineError {
    color: $errorColor !important;

    &::before {}
  }

  .lineApp, .lineError {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    color: lighten($textColor, 20);

    a {
      text-decoration: underline;
      color: $linkColor;

      &:visited {
        color: darken($linkColor, 10);
      }
    }
  }
}
